.navbar {
  background-color: #000000;
}

.name {
  font-family: Avenir Heavy, serif;
  font-size: 150%;
}

.onglet {
  font-size: auto;
  letter-spacing: .59px;
  font-family: Avenir Medium, serif;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.nav-item {
  padding-left: 25px;
}

.profil {
  background-color: none;
}

.logo {
  margin-right: 10px;
}

.social {
  letter-spacing: .59px;
  font-family: Avenir Medium, serif;
  font-size: auto;
  color: white;
  opacity: 0.8;
}