<!--<div class="row navbar">
  <a routerLink="" class="col-2 name">BACCUSSSS</a>
  <div class="col">
    <a routerLink="twitch" class="onglet">Twitch</a>
    <a routerLink="" class="onglet">Discord</a>
    <a routerLink="" class="onglet">Xi</a>
  </div>
  <a class="col"><app-logstate></app-logstate></a>
</div>-->

<div class="container-fullwidth">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand name" href="#">BACCUSSSS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link onglet" routerLink="twitch">
            <img class="logo" src="/assets/logo_twitch.svg" alt="Twitch" width="25" title="Twitch"/>Twitch
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link onglet" routerLink="">
            <img class="logo" src="/assets/logo_discord.svg" alt="Discord" width="25" title="Discord"/>Discord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link onglet" routerLink="">
            <img class="logo" src="/assets/logo_xi.svg" alt="Xi" width="25" title="Xi"/>Xi</a>
        </li>
      </ul>
      <span class="navbar-item profil">
        <app-logstate></app-logstate>
      </span>
    </div>
  </nav>
</div>