#portal {
  position: fixed;
  left: 250px;
  top: 62px;
  width: calc(100vw - 250px);
  height: calc(100vh - 62px);
  font-family: "Avenir Book", serif;
  padding: 1.5vh 1vw;
}

@media (max-width: 768px) {
  #portal {
    left: 0;
    width: 100vw;
  }
}

#dashboard {
  width: 100%;
  min-height: 100%;
  background: #c48dd8;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid black;
}


